<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{pageInformation}}</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>
    {{>header}}

    <div class="container">
      <img
        src="./images/music.jpeg"
        alt="Music Concert"
        class="concert-image"
      />
    </div>

    {{>footer}}

  </body>
</html>